/* some shit

deff:
font-family: Verdana, Geneva, Tahoma, sans-serif;

*/

/*WHOLE PAGE*/
html, body {
    margin: 0;
    height: 100%;
}

a:link{
    color:black;
    background-color: transparent;
    text-decoration: none;
}
a:visited{
    color:black;
    background-color: transparent;
    text-decoration: none;
}
a:hover{
    color: black;
    background-color: transparent;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
}

.bodywrap{
    background-color: aliceblue;
    margin: 0;
    height: 100%;
}

.fixedmargin{
    margin: 0px;
}

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul, h3{
    margin: 0px;
}

section{
    margin-top: 1em;
}

/* HEADER  */
.headermenu{
    padding: 20px;
    font-size: large;
}

.header{
    background-color: aquamarine; 
    display: flex; 
    flex: auto; 
    flex-direction: row-reverse; 
    align-items: flex-start; 
    justify-content: space-between;
}

/*    MAIN    */
/* Меняется от шаблона к шаблону */
main{
    height: auto;
}

.wtf{
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.texthead{
    margin: 0px;
    padding: 5px;
}

.censhit{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.rowshit{
   display: flex;
   flex-direction: row;
   justify-content: space-around; 
   width: 20%;
}

.guide{
    width: auto;
    height: 100%;
}

.ftp{
    text-decoration: solid;
    font-weight: bold;
}

.rest{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.updates{
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    width: 80%;
}

.countcolumn{
    display: flex;
    flex-direction: column;
    justify-content: left;
    
}